{{#each this}}
 <div id = "{{@key}}">
   <h3 >{{name}} </h3>
     <p> {{age}} | {{gender}}  | {{skills}}  
     </p> 
     
   <button type ='button'  id = 'delFB'>Delete forever</button> 
 </div>
{{/each}}